.genre-icon:hover {
    cursor: pointer;
}

#genre-tooltip-small-container {
    border: thin solid grey;
    border-radius: 5px;
    background: lightgrey;
    padding: 20px;
}

#genre-tooltip-large-container {
    border: thin solid grey;
    border-radius: 5px;
    background: lightgrey;
    padding: 20px;
}

#radar-tooltip-container {
    border: thin solid grey;
    border-radius: 5px;
    background: white;
    padding: 20px;
}

#genre-tooltip-small-name-container,
#genre-tooltip-large-name-container,
#radar-tooltip-feat-container {
    font-size: larger;
    font-weight: bolder;
}

#genre-tooltip-large .exit-button {
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}

#genre-tooltip-large .exit-button:hover {
    opacity: 0.7;
}

.radarLabel:hover {
    cursor: default;
}