body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.full-screen-vis {
	width: 100%;
	height: 100vh; /* 100% of the viewport height */
	display: flex;
	justify-content: center;
	align-items: center;
}

.scrollable-vis {
	width: 100%;
	/* Adjust the height as needed, or make it responsive to content */
	min-height: 100vh;
	padding: 50px 0; /* Example padding */
}

/*MBTI ALL*/
.mbti-tooltip {
	display: none;
	position: absolute;
	background-color: white;
	border: 1px solid #ccc;
	padding: 10px;
	z-index: 100;
}

.mbti-img {
	position: absolute;
	width: 100px;
	height: 100px;
}

/*MBTI DETAIL*/
.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.mbti-letter-button-selected {
	background-color: #00c4ff;
	color: #c22121;
	font-weight: bolder;
}

.mbti-info {
	margin-left: 20px; /* Adjust as needed */
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center; /* This will vertically center the text in the remaining space */
}

#mbtiDetail {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.button-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	width: 50%;
	padding: 10px;
}

.mbti-letter-button {
	width: 48%;
	margin: 1%;
	padding: 10px;
	flex: 1 0 21%;
	background-size: cover;
	border: none;
	outline: none;
}



/*MUSIC MBTI DISTRIBUTION*/
.music-type-select {
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 10px 20px;
	text-align: center;
	text-align-last: center;
	line-height: 1.5em;
}

option {
	background-color: rgba(255, 255, 255, 0.5);
	border: none;
}


.select-container {
	position: absolute;
	left: 10px;
	z-index: 1000;
	text-align: center;
}
