body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.full-screen-vis {
	width: 100%;
	height: 100vh; /* 100% of the viewport height */
	display: flex;
	justify-content: center;
	align-items: center;
}

.scrollable-vis {
	width: 100%;
	/* Adjust the height as needed, or make it responsive to content */
	min-height: 100vh;
	padding: 50px 0; /* Example padding */
}

/* genre vis*/
.genre-icon:hover {
    cursor: pointer;
}

#genre-tooltip-small-container {
    border: thin solid grey;
    border-radius: 5px;
    background: lightgrey;
    padding: 20px;
}

#genre-tooltip-large-container {
    border: thin solid grey;
    border-radius: 5px;
    background: lightgrey;
    padding: 20px;
}

#radar-tooltip-container {
    border: thin solid grey;
    border-radius: 5px;
    background: white;
    padding: 20px;
}

#genre-tooltip-small-name-container,
#genre-tooltip-large-name-container,
#radar-tooltip-feat-container {
    font-size: larger;
    font-weight: bolder;
}

#genre-tooltip-large .exit-button {
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}

/*MBTI ALL*/
.mbti-tooltip {
	display: none;
	position: absolute;
	background-color: white;
	border: 1px solid #ccc;
	padding: 10px;
	z-index: 100;
}

.mbti-img {
	position: absolute;
	width: 100px;
	height: 100px;
}

/*MBTI DETAIL*/
.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.mbti-letter-button-selected {
	background-color: #00c4ff;
	color: white;
}

.mbti-info {
	margin-left: 20px; /* Adjust as needed */
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center; /* This will vertically center the text in the remaining space */
}

#mbtiDetail {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.button-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	width: 50%;
	padding: 10px;
}

.mbti-letter-button {
	padding: 10px;
	cursor: pointer;
	width: 48%;
	margin: 1%;
	flex: 1 0 21%;
}


/*MUSIC GENRE INTRO*/
#genre-tooltip-large-figure-container {
	margin: 10px;
	display: flex;
	justify-content: center;
}

#genre-tooltip-large .exit-button:hover {
    opacity: 0.7;
}

.radarLabel:hover {
    cursor: default;
}


/* TEST SELECTION */
#test_select{
	margin-top: 10vh;
}

#instruction-row,
#genre-instruction-container,
#genre-icon-container,
#genre-button-container,
#mbti-instruction-container,
#mbti-icon-container,
#mbti-button-container {
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
}

#main-instruction {
	text-align: center;
	font-size: xx-large;
}

#main-instruction-foot {
	text-align: center;
}

#genre-instruction,
#mbti-instruction {
	text-align: center;
	font-size: large;
}

#genre-instruction-foot,
#mbti-instruction-foot {
	text-align: center;
	font-size: small;
}

#button-row {
	display: flex;
	justify-content: center;
}

.genre-button,
.mbti-button,
#confirm-button {
	margin: 5px;
	padding-top:3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
}

/*MUSIC MBTI DISTRIBUTION*/
.select-container {
	text-align: center;
}

.music-type-select {
	padding: 5px;
	font-size: 1em;
}